<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments/head :: head"></head>
<body>

<div th:replace="/fragments/header :: header"></div>

<div class="container" th:class="align-center">

    <h2>Register new user</h2>
              Register should be found in SignupController
    <form action="#"
          th:action="@{/register}"
          th:object="${user}"
          method="post">
        <input type="text" th:field="*{username}" placeholder="Username" for="username"/>
        <input type="password" th:field="*{password}" placeholder="Password" for="password"/>
        <button class="green-btn" type="submit">Register</button>
        <span>Already registered? <a href="/" th:href="@{/login}">Login here</a></span>
    </form>
</div>

<footer th:replace="/fragments/footer :: footer"></footer>

</body>
</html>