<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments/head :: head"></head>
<body>

<div th:replace="/fragments/header :: header"></div>

<div class="container" th:class="align-center">

    <!-- success message -->
    <div th:if="${param.success}">
        <div class="alert alert-info">You've successfully registered to our awesome app!</div>
    </div>

    <h2>Register new user</h2>
    <form action="#"
          th:action="@{/registration}"
          th:object="${user}"
          method="post">
        <input id="username" type="text" class="form-control" th:field="*{username}" placeholder="Username" for="username"/>
        <input id="password" type="text" class="form-control" th:field="*{password}" placeholder="Password" for="password"/>
        <button class="green-btn" type="submit">Register</button>
        <span>Already registered? <a href="/" th:href="@{/login}">Login here</a></span>
    </form>
</div>

<footer th:replace="/fragments/footer :: footer"></footer>

</body>
</html>